body {
    background-image:			url("../image/design/fondecran/fond_connexion.png");
    background-size: 			100%;
}

#texte_defilant{
    background:					rgb(251,221,0);
    font-weight:				bold;

}
#texte_defilant span {
    margin-top:					5px;
    color:						rgb(255,255,255);
    font-size:					80px;
}

#mainDiv {
    margin-top: 3%;
}

#mainDiv h1{
    text-align: center;
    color: rgb(225,148,63);
    font-weight: bold;
}

#button_Asso,#button_partenaires,#button_contact,#button_seConnecter, #button_moncompte {
    background-size: 			cover;
    background-position: 		center center;
    min-height: 				45px;
}

#button_moncompte{
    background-image: 			url("../image/design/boutonmenu/button_moncompte.png");
}
#button_Asso {
    background-image: 			url("../image/design/boutonmenu/button_asso.png");
}
#button_partenaires {
    background-image: 			url("../image/design/boutonmenu/button_partenaires.png");
}
#button_contact {
    background-image: 			url("../image/design/boutonmenu/button_contact.png");
}
#button_seConnecter {
    background-image: 			url("../image/design/boutonmenu/button_seConnecter.png");
}
