body {
    background-image:			url("../image/design/fondecran/fond_partenaire.png");
    background-size: 			100%;
}

#texte_defilant{
    background:					rgb(241,138,0);
    font-weight:				bold;

}
#texte_defilant span {
    color:						rgb(255,255,255);
}
#enTete{
    background-image:			url("../image/design/fondecran/fond_partenaire.png");
    background-size: 			100%;
}

#mainDiv {
    margin-top: 3%;
    background-image:			url("../image/design/fondecran/fond_central.png");

}

#mainDiv h1{
    text-align: center;
    color: rgb(241,138,0);
    font-weight: bold;
}

.partenaire td{
    text-align:					center;
    width:						330px;
    height:						330px;
    font-size:					18px;
}

.partenaire {
    margin-left: auto;
    margin-right: auto;
}