.carousel-caption {
    background-color: rgba(0, 0, 0, 0.27);
}

.item img {
    width: 			100%;
}
#myCarousel, #reseauSociaux {
    margin-top:       3%;
}

.rightCollum h2{
    text-align: center;
}
.rightCollum {
    margin-bottom: 3%;
}

#enTete{
    background-image:			url("../image/design/fondecran/fond_accueil.png");
    background-size: 			100%;
}

#mainDiv {
    margin-top: 3%;
    background-image:			url("../image/design/fondecran/fond_central.png");
    color: rgb(180,11,26);
}

#mainDiv h1{
    text-align: center;
    color: rgb(180,11,26);
    font-weight: bold;
}

#logoQuiSommesNous{
    width: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.photoConseil {
    width:200px;
    height:300px;
}

.presentation{
    text-align: center;
}

#imageConsulterArticle{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.image_description{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}