body {
	background-image:			url("../image/design/fondecran/fond_accueil.png");
	background-size: 			100%;
}

#texte_defilant{
	background:					rgb(180,11,26);
	font-weight:				bold;
	margin-top:					1%;
	margin-bottom: 				1%;

}
#texte_defilant span {
	color:						rgb(255,255,255);
	font-size:					500%;
}

.button_Asso,#button_partenaires,#button_contact,#button_seConnecter, #button_moncompte, #button_evenement {
	background-size: 			cover;
	background-position: 		center center;
	min-height: 				45px;
	text-align:					center;
	font-family: 				Times;
	font-weight:				bold;
	font-size: 					140%;
	text-decoration: 			none;
}

#button_moncompte{
	background-image: 			url("../image/design/boutonmenu/button_moncompte.png");
}

#button_evenement {
	background-color: 			rgb(00,00,00);
	color: 						rgb(255,237,0);
}

.button_Asso {
	background-color: 			rgb(00,75,156);
	color: 						rgb(255,236,0);
}
#button_partenaires {
	background-color: 			rgb(221,190,156);
	color: 						rgb(155,76,52);
}
#button_contact {
	background-color: 			rgb(225,148,63);
	color: 						rgb(228,214,63);
}
#button_seConnecter {
	background-color: 			rgb(225,204,0);
	color: 						rgb(234,81,32);
}

